<div class="cube-view">
    <div class="cube-top">
        <div class="sides-top bottom"></div>
        <div class="sides-top front">
            <div class="title">Introduction<sup>3</sup></div>
        </div>
        <div class="sides-top right"></div>
        <div class="sides-top back"></div>
        <div class="sides-top left"></div>
    </div>
    <div class="cube-middle">
        <div class="sides-middle front">
            <div class="description">I am a Computer Engineer, currently working as a Software Engineer. My passion spans many aspects of Computer Engineering, including Full-Stack &amp; Object Oriented Programming, Embedded Systems &amp; Robotics, Virtual Reality, &amp; Augmented Reality Programming, and Artificial Intelligence. Although I've not yet had the opportunities to pursue and explore all of my interests, my journey has already begun...
            </div>
        </div>
        <div class="sides-middle right"></div>
        <div class="sides-middle back"></div>
        <div class="sides-middle left"></div>
    </div>
    <div class="cube-bottom">
        <div class="sides-bottom top"></div>
        <div class="sides-bottom front"></div>
        <div class="sides-bottom right"></div>
        <div class="sides-bottom back"></div>
        <div class="sides-bottom left"></div>
    </div>
</div>
