<div id="footer">
    <ul>
        <li>
            <i href="https://www.linkedin.com/in/kaushal-patel-119a20113/" class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
        </li>
        <li>
            <i href="https://github.com/kunknown?tab=repositories" class="fa fa-github fa-3x" aria-hidden="true"></i>
        </li>
        <!-- <li>
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
        </li> -->
    </ul>
</div>
