<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kaushal Patel</title>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style></style>
    </head>
    <body>
      <% include partials/banner.ejs %>
      <% include partials/nav.ejs %>
      <div id="content">
        <% include partials/cube.ejs %>
      </div>
      <% include partials/footer.ejs %>
        <script></script>
    </body>
</html>
