/*Default styles*/
body{
    margin: 0;
    padding: 0;
    font-family: arial;
    text-decoration: none;
    background-color: darkgray;
    color: black;
}

#wrapper, #banner{
    z-index: 0;
    position: relative;
}

/*Banner styles*/
#banner{
    background: #0004ff;
    background: -moz-linear-gradient(top, #0004ff 1%, #595cff 25%, #c399ff 51%, #7c1eff 80%, #6e00ff 100%);
    background: -webkit-linear-gradient(top, #0004ff 1%,#595cff 25%,#c399ff 51%,#7c1eff 80%,#6e00ff 100%);
    background: linear-gradient(to bottom, #0004ff 1%,#595cff 25%,#c399ff 51%,#7c1eff 80%,#6e00ff 100%);
}

#banner>img{
    display: block;
    width: 300px;
    margin: auto;
}

#banner>div{
    background: #c399ff;
    width: 20%;
    min-width: 150px;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font: 25px bold;
    border-radius: 30px;
    /* -webkit-box-shadow: 2px 5px black;
    -moz-box-shadow: 2px 5px black; */
    box-shadow: 2px 5px black;
    border: 2px black solid;
}

/*Navigation styles*/
nav{
    z-index: 5;
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    background: grey;
    overflow: hidden;
}

/*1080px or higher*/
@media(min-width: 1080px){
  nav{
      z-index: 5;
      position: sticky;
      top: 0;
      width: 100%;
      height: 60px;
      background: grey;
      transition: height 0.2s 0.2s linear;
      overflow: hidden;
  }

  nav:hover{
      height: 200px;
  }
}

.menu, .submenu{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin: 0;
}

.menu li{
    float: left;
    padding: 5px;
    margin: 5px;
}

.menu li>a{
    display: inline-block;
    padding: 5px;
    margin: 5px 5px 10px 5px;
}

.submenu a{
    display: block;
    padding: 5px;
    margin: 5px;
    color: black;
}

.menu a{
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px 0;
    box-shadow: 2px 2px 5px purple;
    color: black;
}

.menu li:hover>a, .submenu a:hover{
    box-shadow: 2px 2px 5px blue;
}

.menu li>a:active, .submenu div>a:active{
    box-shadow: none;
}

/*Footer styles*/
#footer{
    z-index: 5;
    left: 0px;
    width: 100%;
    text-align: center;
}

#footer li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

#footer i{
    padding: 10px;
    background-color: lightgray;
    border-radius: 50px;
}

/*content styles*/
#content{
    width: 100%;
    position: relative;
}
.title{
    text-transform: uppercase;
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 5px white;
}

.description{
    padding: 85px 0;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 0 0 1px white;
}

/*Cube*/

div[class="sides-top front"]{
     background: white url('./transparent_background.jpg') center/auto 90px repeat;
}
div[class="sides-middle front"]{
     background: white url('./transparent_background.jpg') center/auto 360px repeat;
}

/*screen width 780px or higher*/
@media(min-width: 1080px){

/*title & description styles*/
.title{
    text-transform: uppercase;
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 5px #6e00ff;
}

.description{
    padding: 85px 5px;
    text-align: justify;
    font-size: 20px;
    font-family: cursive;
    text-shadow: 0 0 1px #6e00ff;
}

/*cube styles*/
  .cube-view{
      width: 600px;
      height: 600px;
      margin: 100px auto;
      perspective: 600px;
  }

  .cube-top, .cube-middle, .cube-bottom{
      position: relative;
      transform-style: preserve-3d;
      width: 100%;
  }

  .cube-top{
      height: 15%;
      transform: translateZ(-300px);
      transition: transform 1s;
  }

  .cube-middle{
      z-index: 1;
      height: 60%;
      transform: translateZ(-300px);
      transition: transform 1s;
  }
  .cube-bottom{
      height: 15%;
      transform: translateZ(-300px);
      transition: transform 1s;
  }

  .cube-view div[class^="sides-"]{
      height: 100%;
      width: 100%;
      position: absolute;
      overflow: hidden;
  }

  /*background of front, right, back, left*/
  div[class="sides-top front"]{
       background: white url('./transparent_background.jpg') center/auto 90px repeat;
  }
  div[class="sides-middle front"]{
       background: white url('./transparent_background.jpg') center/auto 360px repeat;
  }
  div[class="sides-bottom front"]{
       background: white url('./transparent_background.jpg') center/auto 90px repeat;
  }

  div[class="sides-top right"]{
       background: red url('./embedded_systems.jpg') center 0/auto 600px no-repeat;
  }
  div[class="sides-middle right"]{
       background: red url('./embedded_systems.jpg') center -90px/auto 600px no-repeat;
  }
  div[class="sides-bottom right"]{
       background: red url('./embedded_systems.jpg') center -450px/auto 600px no-repeat;
  }

  div[class="sides-top back"]{
       background: green url('./virtual_reality.jpg') center 0/auto 600px no-repeat;
  }
  div[class="sides-middle back"]{
       background: green url('./virtual_reality.jpg') center -90px/auto 600px no-repeat;
  }
  div[class="sides-bottom back"]{
       background: green url('./virtual_reality.jpg') center -450px/auto 600px no-repeat;
  }

  div[class="sides-top left"]{
       background: blue url('./artificial_intelligence.jpg') center 0/auto 600px no-repeat;
  }
  div[class="sides-middle left"]{
       background: blue url('./artificial_intelligence.jpg') center -90px/auto 600px no-repeat;
  }
  div[class="sides-bottom left"]{
       background: blue url('./artificial_intelligence.jpg') center -450px/auto 600px no-repeat;
  }

  /*transform sides to face right direction*/
  .top{
      background: black;
      transform: rotateX(90deg) translateZ(45px) scaleY(6.66);
  }

  .bottom{
      background: black;
      transform: rotateX(-90deg) translateZ(45px) scaleY(6.66);
  }

  .front{
      transform: rotateY(0deg) translateZ(300px);
  }
  .right{
    transform: rotateY(90deg) translateZ(300px);
  }
  .back{
    transform: rotateY(180deg) translateZ(300px);
  }
  .left{
    transform: rotateY(-90deg) translateZ(300px);
  }

  /*cube animations*/
  .cube-top{
      animation: rotate 40s linear 0s infinite forwards, split-top 40s linear 0s infinite forwards;
  }

  .cube-middle{
      animation: rotate 40s linear 0.5s infinite forwards;
  }

  .cube-bottom{
      animation: rotate 40s linear 1s infinite forwards, split-bottom 40s linear 1s infinite forwards;
  }

  /*cube keyframes*/
  @keyframes rotate{
      0%{transform: translateZ(-300px) rotateY(0deg);}
      18.75%{transform: translateZ(-300px) rotateY(0deg);}

      25%{transform: translateZ(-300px) rotateY(-90deg);}
      43.75%{transform: translateZ(-300px) rotateY(-90deg);}

      50%{transform: translateZ(-300px) rotateY(-180deg);}
      68.75%{transform: translateZ(-300px) rotateY(-180deg);}

      75%{transform: translateZ(-300px) rotateY(-270deg);}
      93.75%{transform: translateZ(-300px) rotateY(-270deg);}

      100%{transform: translateZ(-300px) rotateY(-360deg);}
  }

  @keyframes split-top{
      0%{margin: 0 0 30px 0;}
      18.75%{margin: 0 0 30px 0;}

      25%{margin: 0;}
      93.75%{margin: 0;}

      100%{margin: 0 0 30px 0;}
  }

  @keyframes split-bottom{
      0%{margin: 30px 0 0 0;}
      18.75%{margin: 30px 0 0 0;}

      25%{margin: 0;}
      93.75%{margin: 0;}

      100%{margin: 30px 0 0 0;}
  }
}

/*Visual Ticket Board*/
.section{
    max-width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 0;
    text-align: center;
    position: relative;
    vertical-align: top;
}

.ticket{
    width: 90%;
    margin: 5px auto;
    position: relative;
}

form.board input, form.board textarea{
    background: inherit;
    display: block;
    border: none;
    font-weight: bold;
    height: 20px;
    text-align: center;
    margin: 0 auto;
    word-wrap: normal;
}

form.board input::placeholder, form.board textarea::placeholder{
  color: black;
  font-style: italic;
  font-weight: lighter;
}

.title-board{
    width: 50%;
}

.ticket .ticket-title, .ticket .ticket-description{
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(rgb(75, 50, 250), rgb(150, 100, 250)) 1;
    width: 90%;
    margin: 5px auto;
}

.ticket .ticket-description{
    min-height: 50px;
    resize: none;
}

.header-board{
    background-color: rgb(150, 100, 250);
    position: relative;
}

.header-section{
    background-color: rgb(75, 50, 250);
    margin: 0 0 20px 0;
}

.header-ticket{
    background-color: rgb(150, 100, 250);
    height: 1.4em;
}


#back{
    background: black;
    color: white;
    display: inline-block;
    margin:  0;
    padding: 1px 5px 2px 3px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.close-ticket, .close-section{
    background: black;
    color: white;
    display: inline-block;
    margin:  0;
    padding: 0 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.add-ticket{
    position: relative;
    width: 90%;
    margin: 5px auto;
    color: white;
    background-color: black;
}

#add-section{
    position: absolute;
    display: inline-block;
    margin: 10px 0;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
}

.border-purple-top{
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(rgb(150, 100, 250), rgb(75, 50, 250)) 1;
}
.border-blue-top{
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(rgb(75, 50, 250), rgb(150, 100, 250)) 1;
}
